
body {
  font-family: Arial, Helvetica, sans-serif
}

#tabla {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 80%;
  font-size: 1.1rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.header-fila, .fila {
  display: grid;
  grid-template-columns: 60px 1fr 2fr 1fr;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.header-fila {
  font-weight: bold;
  background-color: #fbb03b;
  color: #ffffff;
  font-size: 1.2rem;
}

.fila {
  background-color: #f4f4f9;
  color: #333;
}

.fila:hover {
  background-color: #ffecd1;
  cursor: pointer;
}

.header-fila div, .fila div {
  padding: 8px 0;
  text-align: center;
}


.disponible, .ocupado {
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
}

.disponible {
  background-color: #e07a5f;
  color: #ffffff;
}

.ocupado {
  background-color: #f29d35;
  color: #ffffff;
}


.boton-agregar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.boton-resaltado-2 {
  padding: 12px 20px;
  background-color: #fbb03b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton-resaltado-2:hover {
  background-color: #f29d35;
  transform: translateY(-3px);
}


.boton-resaltado, .boton-resaltado-3 {
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.boton-resaltado {
  background-color: #e07a5f;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.boton-resaltado:hover {
  background-color: #c85c5c;
}

.boton-resaltado-3 {
  background-color: #f29d35;
  margin: 0px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.boton-resaltado-3.primary {
  background-color: #fbb03b;
}

.boton-resaltado-3:hover {
  background-color: #d98235;
}

.primary:hover {
  background-color: #d98235;
}
